:root {
    --primary-color: white;
    --text-color: #064e7e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    font-family: 'Montserrat', sans-serif;
  }
p{
    text-align: justify;
}
body {
    overflow-y: scroll;
    font-family: 'Inter', sans-serif; 
    overflow-x: hidden;
    height: 100%;
   
  }
  body::-webkit-scrollbar {
    display: none; 
    scroll-behavior: smooth;
}
  
  
header{
    top: 0;
    z-index: 1000;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px ; 
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);   
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    list-style: none;
    margin-right: 20px;
    flex-wrap: wrap;
    
}
.navbar ul li{
    margin: 0 10px;
    
}

.navbar ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    transition: all 0.2s ease; /* Add transition for all properties */
    display: inline-block;
}
.navbar ul li a:hover {
    
    transform: scale(1.1);  
    border-bottom: 0.2rem solid #035a94; /* Border on hover */
    
    border-radius: 15%;
    border-width: 2px;
    color: #020520; /* Optional: Change text color on hover */
    transition: all 0.2s ease-out;
}
header>section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 10px;
}
.head_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: var(--text-color);
    text-align: center;
    align-items: center;
}
.head_name:hover{
    color: #020520;
    transition: all 2s ease; /* Add transition for all properties */
}
.logo{
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image fits within the bounds */
    width: auto; /* Ensures responsiveness */
    max-width: 80px; /* General size for portfolio logos */
}
#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/background-home.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    background-size: cover;
    position: relative;
    align-items: center ;
    justify-content: right;
    margin: 2px;

}
.home_div{
    margin: 50px;
}
.home_name_main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 3em;
    display: block;
    padding-top: 20%;
    border-bottom: 1px solid #035a94;
    margin: 2px;
    
}
#home_content{
    display: block;
    color: white;
    margin-top: 10px;
    font-size: 1em;
    
   
}
 .home_btn{
    background-color: white;
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    
    
 }
 .home_btn:hover{
    background-color: var(--text-color);
    color: white;
    border: 1px solid #ffffff;
    
 }
 .home_btn a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Montserrat',sans-serif;
    
 }
 .home_btn a:hover{
       color: white;
       transition: all 0.2s ease; /* Add transition for all properties */
       
}
h2{
    
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
    font-size: 2em;
    padding-top: 2vh;
    
    margin: 2px;
}
.flex-container{
    display: flex;
  
    justify-content: space-between;
    padding: 2px;
    flex-wrap: wrap;
   
}
.flex-item{
    flex: 1;
}
#flex-item-para{
    margin: 5%;
    border-radius: 5px;
    /* border-bottom: 1px solid #035a94; */
    padding: 2%;
    height: 50vh; 
   
    font-size: large;
    
}
#profile{
    
    padding-top:2%;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: ease-in 0.1s;
    
    
}
.profile_img:hover{
    border-radius: 50%;
   transition: ease-out 0.2s;
    transform: scale(1.1,1.1);
}
hr{
    border: none;
    border-top: 2px solid #3498db;
    position: relative;
    text-align: center;
    margin: 30px auto;
    width: 50%;
}

.skill{
    margin: 2px ;
    display: grid;
    grid-template-columns: 20% 80%; 
    
   grid-gap: 0%;
   margin-left: 1%;

}
.skill-name{
   
    padding:0%;
}
progress{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    margin: 10px;
    transition: value 0.3s ease-in-out;
} 
progress::-webkit-progress-value {
    border-radius: 10px; /* Rounded fill */
    background-color: #080831; /* Default red fill */
    transition: width 0.3s ease; /* Smooth fill transition */
}
progress::-webkit-progress-bar {
    background-color: white /* Light gray bar background */
    
}
#project{
    padding-top: 2%;
    height: 80vh;
    margin-bottom: 3%;
    justify-content: center;
    
    transition: ease-in 0.1s;
    flex-wrap: wrap;
}
.project-table{
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10% 10%;
    overflow: auto;
    
}
.project-table-head{
    background-image:  linear-gradient(45deg,rgba(2, 71, 136, 0.952), rgba(70, 157, 240, 0.836));
    height: 10vh;
}
.project-name{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}
.project-table-body{
    background-color: #f2f2f2;
    height: 50vh;
    
    
    border-radius: 10% 10%;
}
.project-table-body td{
    overflow: auto;
    padding: 1%;
    text-align: justify;
}
.contact_us{
    margin: auto;
  
    height: 80vh;
}
.contact_us_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2px;
    align-items: center;

}
.contact_header{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    text-align: left;
    font-weight: 500;
    color: var(--text-color);
    font-size: 2em;
    padding: 2vh;
   
    margin: 2px;
}

.contact_subheader{
    display: flex;
    flex-direction: row;
    
    
    padding: 2vh;
   
    margin: 2px;
}
.contact-form{    
    width: 100%;
    
    margin: 0 auto; /* Center the form */
    padding: 20px;
    background-color: #f9f9f9; /* Light background for the form */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-family: 'Arial', sans-serif;
}
.contact-input,
.contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
    transition:  0.3s ease;
}
.contact-input:focus,
.contact-textarea:focus {
    border-color: #064e7e; 
    outline: none; 
}


.contact-textarea {
    height: 100px;
    resize: vertical; 
}


.contact-submit {
    width: 100%;
    padding: 12px;
    background-color: #064e7e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-submit:hover {
    background-color: #052d54;
    transform: scale(1.02); /* Slightly enlarge on hover */
}
.contact-header-name{
    font-weight: 500;
    color: var(--text-color);
    font-size: 2em;
    
    margin: 3vh;
}
#contact-header-name1{
    font-weight: 1000;
}

/* Styling the footer section */
footer {
    background-color: #064e7e; /* Dark background */
    color: white; /* White text */
    padding: 20px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

footer section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Styling the social icons and links */
footer span {
    margin: 0 15px; /* Add space between each icon */
    display: inline-block;
}

/* Styling the social media links */
footer a {
    text-decoration: none;
    color: white; /* Ensure the link color is white */
    transition: transform 0.3s ease;
}

footer a:hover {
    transform: scale(1.1); /* Slight scale effect on hover */
}

/* Styling the social media icons */
footer img {
    width: 40px; /* Set the size of the icons */
    height: 40px;
   
    object-fit: cover; /* Maintain aspect ratio */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

footer img:hover {
    
    opacity: 0.8; /* Slight opacity change on hover */
    transform: translateY(-5px); /* Move up slightly on hover */
}

/* Styling the marquee text */
marquee {
    display: block;
    font-size: 14px;
    color: #95a5a6;
    margin-top: 20px;
    font-weight: bold;
}
@media only screen and (max-width: 786px) {
    
    #about{
        overflow: auto;
    }
    
    .head_name{
        font-size: 1.2rem;
        text-align: left;
    }
    .home_name_main{
        font-size: 2rem;
        text-align: left;
    }
    .flex-container{
        display: block;
        margin: 2px;
    }
    #flex-item-para{
        overflow: auto;
        height: 100%;
       
    }
    .navbar ul li a {
        font-size: 17px;
    }
    .profile_img{
        
        margin: 20px;
    }
    .project{
        margin-bottom: 20px;
        height: 100%;
    }
    #about{
        height: 100%;
    }
    #skills{
        margin: 24px ;
     
    }
    hr{
        margin: 20px auto;
    }
    .whatsapp-icon{
        font-size: 25px;
    }
}
#menu{
    display: none;
}    
@media only screen and (max-width: 480px) {
    #menu{
        display: block;
    }
    .profile_img{
        height: auto;
        margin: 20px;
    }
    header{
        height: 10vh;
       
       
       
    }
    #project{
        margin: 20px;
        height: 100%;
        
    }
    #contact_us{
        display: block;
        margin:20px;

    }
    .whatsapp-icon{
        font-size: 20px;
    }
    .navbar{
        display: none;
    }
    #menu{
        display: visible;
    }
    .side-nav-links{
        height: 100vh;
        width: 100vw;
    }
  
  
  

}
@media only screen and (max-width: 1080px) {
    #about{
        overflow: auto;
    }
  
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: white; 
    padding: 10px;
    border-radius: 40%;
    
    box-shadow: 0 2px 4px var(--text-color);
    font-size: 30px;
    color: var(--text-color);
    text-align: center;
    transition: all 0.3s ease;
    z-index: 999;
}

.whatsapp-icon:hover {
    background-color: #128C7E; 
    transform: scale(1.1); 
    color: white;
    
}
.icons:hover {
    
    transform: scale(1.1); 
    color: white;
}

/* Week 3 :Below is the css for toggle menu and validation */

#nameError , #emailError , #messageError{
    display: block;
    color: red;
    padding: 2px;
    font-size: 1em;
    margin-top: 0;
   
}
.side-nav-links{
    background-color: rgb(255, 255, 255);
    display: none;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    list-style: none;
    position: fixed;
    top:0;
    right: 0;
    z-index: 1002;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding:  30px;
    transition: ease-in 0.3s;
    backdrop-filter: blur(10px);
   
    
    
}
.side-nav-links a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
   
    padding:  20px;
    flex-direction: column;
 
}
#close{
    
    align-self: flex-start;
}
